/* Notebooks */
.notebooks {
  padding-left: 0;
}

.notebook {
  list-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  color: #4a4a4a;
  background-color: #f5c35e;
  padding: 10px 20px;
}

.notebook__func {
  float: right;
  color: #db9402;
}

.notebook__func span {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.notebook__link {
  font-size: 18px;
  color: #4a4a4a;
  text-decoration: none;
}

.notebook__link--edit {

}
