/* Notebooks */
.notebooks {
  padding-left: 0;
}

.notebookItem {
  list-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  color: #4a4a4a;
  background-color: #f5c35e;
  padding: 10px 20px;
  overflow: hidden;
}

.notebookItem__func {
  float: right;
  color: #db9402;
}

.notebookItem__func span {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.notebookItem__link {
  font-size: 18px;
  color: #4a4a4a;
  text-decoration: none;
}


/* Breadcrumbs */
.breadcrumbs {
  padding: 0;
  display: block;
  margin-top: 0;
}

.breadcrumbs > li {
  color: #666;
  display: inline-block;
  list-style: none;
  padding: 10px 10px 10px 0;
}

.breadcrumbs > li + li {
  margin-left: 10px;
  position: relative;
  padding-left: 10px;
}

.breadcrumbs > li + li::before {
  content: ">";
  position: absolute;
  left: -10px;
}

.breadcrumbs > li a {
  color: #e4cd59;
  text-decoration: none;
}

.breadcrumbs > li a:hover {
  color: #bfa837;
  text-decoration: underline;
}

/* Notebook */
.nb__main {
  padding: 20px 15px;
  border: 1px solid #eee;
  background-color: #fff8ec;
}

.nb__title-block {
  overflow: hidden;
  margin-bottom: 30px;
}

.nb__title {
  color: #e4cd59;
  display: inline-block;
  margin: 0;
}

.nb__language {
  font-size: 14px;
  vertical-align: middle;
  background-color: #faf0be;
  color: #e4cd59;
  display: inline-block;
  padding: 2px 6px;
  border: 1px solid #eee;
  margin-left: 15px;
  margin-bottom: 5px;
}

.nb__funcs {
  color: #e4cd59;
  margin-right: 20px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d6bc3d;
}
